<section>
    <div class="container map-box">
        <div id='map' style='width: 80vw; height: 80vh;'></div>
    </div>

</section>
<script>

    mapboxgl.accessToken = 'pk.eyJ1IjoiYWRoaWxhbWVlbmV0IiwiYSI6ImNsM2Jwdmc0eTAwMWgzam52d2oyYzJoZWcifQ.6XDnpBqFWF71nPwOPzy4RQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-79.4512, 43.6568],
        zoom: 0
    });


    {{#each userlocation }}
    const marker1 = new mapboxgl.Marker({ color: 'red' })
        .setLngLat([{{ this.longitude }},{{ this.latitude }}])
        .addTo(map);
    {{/each}}
</script>