<section>
    <div>
        <div id='map'></div>
    </div>
</section>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWRoaWxhbWVlbmV0IiwiYSI6ImNsM2Jwdmc0eTAwMWgzam52d2oyYzJoZWcifQ.6XDnpBqFWF71nPwOPzy4RQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-79.4512, 43.6568],
        zoom: 0
    });

    // MapboxExportControl 
    map.addControl(new watergis.MapboxExportControl({
        PageSize: watergis.Size.A4,
        PageOrientation: watergis.PageOrientation.Landscape,
        Format: watergis.Format.PNG,
        DPI: watergis.DPI[400],
        Crosshair: true,
        PrintableArea: true,
    }), 'top-right');

    // FullScreenControl
    map.addControl(new mapboxgl.FullscreenControl());

    // GeolocateControl
    map.addControl(
        new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true,
            showUserHeading: true
        })
    );

    // NavigationControl
    map.addControl(new mapboxgl.NavigationControl());

    // Custom Marker

    {{#each userlocation}}
    const marker1 = new mapboxgl.Marker({ color: 'red' })
        .setLngLat([{{this.longitude}}, {{this.latitude}}])
        .addTo(map);
    {{/each}}

</script>